.Rproj.user
.Rhistory
.RData
.Ruserdata
work/*
.nextflow.log*
*T1_result_with_samplename.tsv
.nextflow/cache/**
metadata*
smash/*
work*
.nextflow
outdir*
.Rproj
.Ruserdata
galbo_subtypes/data
old_outdir
batchqc*
batchQC*
r_output_files
testing.Rmd
caf_tpm_mixture_batch_corrected.txt
intermediate_files
outfiles
galbo_subtypes/data/*
gene_reads_2017-06-05_v8_cells_cultured_fibroblasts.gct
libs/*
nextflow.config
*Rproj