/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    kevinpryan Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    metadata          = "/home/kevin/Documents/PhD/subtypes/caf-subtype-analysis/nov2023-match-patient-origin/outputs/metadata_full_with_patient_20231127.csv"
    metadata_out_full = "metadata_full.txt"
    metadata_out_reduced = "metadata_no_inhouse.txt"
    outdir            = "outdir_2023-11-27"
    tx2gene           = "/home/kevin/Documents/PhD/subtypes/caf-subtype-analysis/nf-subpop/outdir/tx2gene/tx2gene.txt"
    //exclude_files     = "/home/kevin/Documents/PhD/CAF_data/samples_not_included_in_analysis_2022-10-14.txt"
    software_versions_inhouse = "/home/kevin/Documents/PhD/CAF_data/nfcore_results/inhouse_data_nfcore_results_version_3_8_1/pipeline_info/software_versions_converted.csv"
}
docker.enabled = true

process {
    withLabel: main_docker {
      container = 'kevinr9525/rocker-bioconductor:dev'
  }
}
