/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    kevinpryan Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    
    //metadata          = "/home/kevin/Documents/PhD/subtypes/caf-subtype-analysis/nf-subpop/outdir/metadata/metadata_full.txt"
    //metadata        = "/home/kevin/Documents/PhD/subtypes/caf-subtype-analysis/intermediate_files/metadata/metadata_all_samples.txt"
    metadata          = ""
    basedir           = "/home/kevin/Documents/PhD/CAF_data/"
    metadata_out_full = "metadata_full.txt"
    metadata_out_reduced = "metadata_no_inhouse.txt"
    outdir            = "outdir"
    gtf               = "/home/kevin/Documents/PhD/references/gencode.v31.annotation.gtf"
    tx2gene           = "/home/kevin/Documents/PhD/subtypes/caf-subtype-analysis/nf-subpop/outdir/tx2gene/tx2gene.txt"
    //tx2gene = ""
    //hlatyping_output  = "/home/kevin/Documents/PhD/hlatyping/"
    hlatyping_output = "/home/kevin/Documents/PhD/hlatyping/**.tsv"
    hlatyping_outdir = "/home/kevin/Documents/PhD/hlatyping/"
    exclude_files     = "/home/kevin/Documents/PhD/CAF_data/samples_not_included_in_analysis_2022-10-14.txt"
    hlatyping_combined_file = "hlatyping_combined_file.txt"
    inhouse_metadata = "/home/kevin/Documents/PhD/CAF_data/InHouse/reformat_samples.csv"

}